@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, html * {
    font-family: 'Roboto', sans-serif !important;
}

.footer {
    background: lightskyblue !important;
}

.header {
    background: lightslategrey !important;
}


.image-container-card {
    max-width: 1000px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 15px 16px 5px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}


.login {
    padding: 25px;
}

.content-margin{
    margin:25px;
}


.name-role{
    margin-left: 50px;
    border-radius: 12px;
    padding: 4px
}

.header .name-role {
    background: dodgerblue;
}


@media only screen and (max-width: 1000px) {
    .name-role {
      display: none;
    }
  }